<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Face Attendance</title>
    <style>
        body{
            background-color: aqua;
        }
        .verify-member img{
            width: 50%;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Welcome to Face Attendance System</h1>
    <div class="options text-center my-4">
        <button class="mx-2" id="add-member">Add Member</button>
        <button class="mx-2" id="verify-member">Verify Member</button>
        <button class="mx-2 d-none" id="back">Back</button>
    </div>
    <div class="text-center add-member d-none">
        <form action="/add-member" id="member_form" method="post" enctype="multipart/form-data">
            <div>
                <input name="member_image" id="member_image" type="file" accept=".jpg, .png, .jpeg" />
            </div>
            <div class="my-3">
                <input name="member_name" id="member_name" placeholder="Enter member name"/>
            </div>
            <div class="spinner-border text-light d-none" role="status">
                <span class="visually-hidden"></span>
            </div>
            <div class="actions">
                <button class="mx-2" type="button" id="save_member">Submit</button>
                <button class="mx-2" type="button" id="cancel">Cancel</button>
            </div>
        </form>
    </div>
    <div class="text-center verify-member d-none">
        <div class="verify-opt">
            <input id="member-name" placeholder="Enter member name" />
            <br>
            <button class="my-2" type="button" id="start-verify">Start</button>
        </div>
        <div class="cam-prev d-none">
            <img id="verify-image" src="" alt="Live Camera Feed" />
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            let msg = "{{ msg }}";
            if (msg) {
                alert(msg);
            }

            $('#add-member').on('click', function(){
                $(this).toggle();
                $('#verify-member').toggle();
                $('.add-member').toggleClass('d-none');
            });

            $('#cancel').on('click', function(){
                $('.add-member').toggleClass('d-none');
                $('#add-member').toggle();
                $('#verify-member').toggle();
                $('input').val('')
            });

            $('#save_member').on('click', function(){
                let member_name = $('#member_name').val().trim();
                let member_image = $('#member_image')[0].files;
                if (!member_name || !$('#member_image').val()){
                    alert('All field are required.');
                    return;
                }
                $('.spinner-border').toggleClass('d-none');
                $(this).toggle();
                $('#cancel').toggle();
                $('#member_form').submit();
            });

            $('#verify-member').on('click', function(){
                $(this).toggle();
                $('#add-member').toggleClass('d-none');
                $('#back').toggleClass('d-none');
                $('.verify-member').toggleClass('d-none');
            });

            $('#back').on('click', function(){
                $(this).toggleClass('d-none');
                $('#add-member').toggleClass('d-none');
                $('#verify-member').toggle();
                $('.verify-member').toggleClass('d-none');
                $('#member-name').val('');
                if ($('.verify-opt').css('display') === 'none'){
                    $('.verify-opt').toggle();
                }
                if ($('.cam-prev').css('display') === 'block'){
                    $('.cam-prev').toggleClass('d-none');
                }
                $("#verify-image").attr("src", "");
            });

            let verify_counter = 0;
            $('#start-verify').on('click', function(){
                let member_name = $('#member-name').val();
                if (!member_name){
                    alert('Please enter member name.');
                    return;
                }

                let name = $('#member-name').val();
                $.ajax({
                    type: 'POST',
                    url: '/verify_name',
                    data: {'name': name},
                    success: function(response) {
                        if (!response.status){
                            alert(response.msg);
                            window.location.href = '/';
                            return;
                        }
                        $("#verify-image").attr("src", "{{ url_for('camera_feed') }}");
                        $('.verify-opt').toggle();
                        $('.cam-prev').toggleClass('d-none');
                        setTimeout(()=>{
                            const verifyInterval = setInterval(()=>{
                                if (verify_counter === 5){
                                    clearInterval(verifyInterval);
                                    alert('Not verified.');
                                    window.location.href = '/';
                                }
                                const result = verifyMember();
                                verify_counter++;
                            }, 3000);
                        }, 5000);
                    }
                });
            });

            function verifyMember() {
                let name = $('#member-name').val();
                $.ajax({
                    type: 'POST',
                    url: '/verify_member',
                    data: {'name': name},
                    success: function(response) {
                        if (response.status){
                            alert('Verified');
                            window.location.href = '/';
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>